p, ol, h2 {
	margin-top: 2em;
}
ul ol, ol ol {
	margin-top: 0;
}
h1 {
	clear: both;
	margin-top: 1.4em;
}
body {
	margin: 0;
	font: 1em/1.7 Arial, sans-serif;
	background-color: #E9ECF3;
}
body > div {
	max-width: 1000px;
	margin: 0 auto;
	padding: 3em;
	background-color: #FFF;
}
img {
	border: none;
	max-width: 100%;
	height: auto;
}
ul, ol { padding-left: 2em; }
ul li { list-style: none; }
ul li:before {
	content: '\2022';
	display: block;
	position: relative;
	max-height: 0;
	left: -1em;
	color: #CCC;
	font-size: 1.1em;
}
ol li { list-style: inherit; }
ol li:before {
	content:none;
}
code {
	background-color: #EFEFEF;
	padding: 1px 4px;
	font-size: 1.1em;
}
pre code { padding: 0; }
button code { background-color: transparent; }
#tom {
	color: #FFF;
	background-color: #000;
	padding: 3em;
}
#tom small {
	color: #777;
}
#tom code {
	background-color: inherit;
	padding: inherit;
}
#tom h1 { margin-top: 0; }
#supported-by {
	max-width: 444px;
	line-height: 27px;
	text-align: center;
}
#supported-by a {
	color: #FFF;
	text-decoration: none;
}
#supported-by img {
	vertical-align: bottom;
}
.supported-by-inline {
	vertical-align: middle;
	margin: auto 3px;
}
#header {
	color: #FFF;
	background-color: #000;
}
#header span {
	color: #777;
	white-space: nowrap;
}
#header a {
	color: #FFF;
	text-decoration: none;
}
#footer {
	color: #B0B0B0;
	background-color: #272626;
}
#footer a {
	color: #FFF;
}
 #reports p {
	margin-top: 3em;
}
pre {
	padding: 1em;
	background-color: #EFEFEF;
	overflow-x: auto;
}
.hljs-meta {
	color: #4C81C9;
}
.hl-tag {
	color: #0048AB;
}
.hl-tag .hl-attr, .hl-key, .hl-header {
	color: #055;
}
.hl-number {
	color: #008;
}
.hl-string, .hl-string .hl-number, .hl-string .hl-tag {
	color: #194;
}
#bookmarks {
	top: 2em;
	position: sticky;
	float: right;
}
#bookmarks > div {
	padding: 0;
	margin: 0 1em;
	background-color: #FFF;
	opacity: 0.75;
}
#bookmarks > div:hover { opacity: 1; }
#bookmarks a {
	margin: 0.5em;
	text-decoration: none;
}
.hidden {
	display: none;
}
.not-supported {
	color: #F00;
	font-weight: bold;
	margin: 2em 0;
}
.allowed {
	color: #008000;
	font-weight: bold;
}
.blocked {
	color: #F00;
	font-weight: bold;
}
.schroedingers-cat {
	color: #5F8EE2;
	font-weight: bold;
}
.view-source {
	text-decoration: none;
}
.view-source.allowed, .view-source.blocked {
	font-weight: normal;
}
.view-source .arrow {
	opacity: 0.25;
}
.disabled {
	opacity: 0.5;
}
@media (max-width: 680px) {
	body > div {
		padding: 1em;
	}
}
@media (max-width: 500px) {
	.separator {
		display: none;
	}
	.separator-break {
		display: block;
	}
}
