CN=canhas.report
PRIVKEY=/etc/nginx/certs/$CN.privkey.pem
CERT_DIR=/etc/nginx/certs
SUBJECT="/C=CZ/ST=Prague/L=Prague/O=canhas.report/emailAddress=$SUBJECT_EMAIL/CN=$CN"
WEBROOT_DIR=/srv/www/$CN/site
DOMAINS="www=canhas.report,www.canhas.report;reports=has.report,*.has.report;hivemind=icanhas.report,www.icanhas.report"
CHALLENGE="dns-01"
