CN=canhas.report
PRIVKEY_CMD="ecparam -genkey -name prime256v1 -out %s"
CERT_DIR=/etc/nginx/certs
SUBJECT="/C=CZ/ST=Prague/L=Prague/O=canhas.report/emailAddress=$SUBJECT_EMAIL/CN=$CN"
WEBROOT_DIR=/srv/www/$CN/site
DOMAINS="www=canhas.report,www.canhas.report;reports=has.report,*.has.report;hivemind=icanhas.report,www.icanhas.report"
CHALLENGE="dns-01"
CERTBOT_DNS_CHALLENGE_OPTS="--dns-cloudflare --dns-cloudflare-credentials /root/.secrets/certbot/cloudflare-canhas.report.ini"
